<!DOCTYPE html>
<html>
  <head>
    <title>Whereareyou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to 'Sign out', destroy_user_session_path, class: "button is-link", method: :delete %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path, class: "button is-link" %>
      <%= link_to 'Sign in', new_user_session_path, class: "button is-link" %>
    <% end %>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="wrap">

      <%= yield %>

    </div>

  </body>
</html>
